<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" style="font-weight: bold; color: blue;" >Ness-essaries</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" style="font-weight: bold;"  aria-current="page" href="../home-page/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" style="font-weight: bold;" href="../order-history/">Your Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">LogOut</a>
				</li>
			   
			</ul>
		</div>
	</div>
  </nav>


	<div class="container " >
<div class="card my-5">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap">
<div class="img-big-wrap">



  <div style="text-align: center;">  <img src="../../assets/img/{{result.image}}" style="height: 500px; width: 450px;"></div>
</div> 
<div class="img-small-wrap" >
  <div class="item-gallery"> <img src="../../assets/img/{{result.image}}"> </div>
  <div class="item-gallery"> <img src="../../assets/img/{{result.image}}"> </div>
  <div class="item-gallery"> <img src="../../assets/img/{{result.image}}"> </div>
  <div class="item-gallery"> <img src="../../assets/img/{{result.image}}"> </div>
</div>
</article>
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">{{result.productName}}</h3>

<p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">IND Rs.</span>{{result.productPrice}}
		<span class="num"></span>
	</span>

</p>
<dl class="item-property">
  <dt>Description</dt>
  <dd><p>{{result.detail}}</p></dd>
</dl>
<dl class="param param-feature">
  <dt>Shippment Id</dt>
  <dd>{{result.productid}}</dd>
</dl>  
<dl class="param param-feature">
	<dt>Ness-essaries Assured-Product</dt>
	<dd>{{result.neassure}}</dd>
</dl>  

<dl class="param param-feature">
  <dt>Delivery</dt>
  <dd>India</dd>
</dl>  

<hr>
	<div class="row">
		
		<div class="col-sm-7">
			<dl class="param param-inline">
				 
			</dl>  
		</div> 
	</div> 
	<hr>
	<button  href="" class="btn btn-lg btn-outline-primary text-uppercase mx-3" (click)="addtocart(result.productid) "> <i class="fas fa-shopping-cart"></i> Add to cart </button>
</article> 
		</aside> 
	</div> 
</div> 


</div>
