<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" style="font-weight: bold; color: blue;" >Ness-essaries</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" style="font-weight: bold;"  aria-current="page" href="../home-page/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" style="font-weight: bold;" href="../order-history/">Your Orders</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="#">LogOut</a>
              </li>
             
          </ul>
      </div>
  </div>
</nav>
<div class="about-section">
    <h1>About Us Page</h1>
    <p> Founders of Ness-essaries.</p>
    <p>Wanna talk?! don't hesitate to mail by the way.</p>
  </div>
  
  <h2 style="text-align:center">Leader's</h2>
  <div class="row" >
    <div class="column">
      <div class="card" >
        <img src="../../assets/img/charishma.jpg" alt="Charishma" style="width:360px; height: 360px; margin-left: 75px;">
        <div class="container">
          <h2 style="text-align: center;">Charishma Guntupalli</h2>
          <p class="title">Founder</p>
          <p>One of the Founder's of this application and works for Ness as Software Engineer  </p>
          <p>charishmaguntupalli@gmail.com</p>
          <p><button class="button" action="mailto:mahidhulipudi@gmail.com" method="post" enctype="text/plain" >Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/img/uday.jpg" alt="Uday" style="width:100%">
        <div class="container">
          <h2 style="text-align: center;">Uday Rallapalli</h2>
          <p class="title">Founder</p>
          <p> Founder of this application and works for Ness as Software Engineer</p>
          <p>rallapalliuck007@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../assets/img/mahi.JPG" alt="Mahi" style="width:80%; height: 360px ; margin-left: 55px;" >
        <div class="container">
          <h2 style="text-align: center;">Mahidhar Dhulipudi</h2>
          <p class="title">Founder</p>
          <p>Founder of this application and works for Ness as Software Engineer .</p>
          <p>mahidhulipudi@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  
  
  