<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>

<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body>
  
  <div class="main-div">
    <div id ="round" >
    <img class="crop" src="../../assets/img/login.png" alt="Ness-essaries" >
  </div>

  <div class="container">
    <div class="login-form">
        <div class="panel">
          <h2>Please Login</h2>
         
        </div><br>
        <form id="Login">

          <div class="form-group">


            <input type="text" class="form-control" name="uname" placeholder="User Name" [(ngModel)]="username">

          </div>
<br>
          <div class="form-group">

            <input type="password" class="form-control" name="inputPassword" placeholder="Password"
              [(ngModel)]="password">
<br>
            <div id="signUp">
              <a href="../register/">SignUp?</a>
            </div>

          </div>
<br>


          <button type="submit" class="btn btn-primary" (click)="login()"> Login</button>


        </form>
      </div>
    </div>
  </div>


</body>

</html>