.login{
    background-image:  url(/assets/img/login.jpg);
    background-size: 1200px 600px;
    background-position: center;

}
.card{
    height: 450px;
    width: 850px;
    background-repeat: no-repeat;
}
.row{
    margin-top: 15px;
}

form{
    margin-top: 150px;
    margin-left: 285px;
}
.btn{
    margin-top: 74px;
    margin-left: 65px;
    background-color: rgba(218, 49, 49, 0.973);
    font-weight:bold;
}